.side {
  height: 100%;
  width: 16%;
  top: 3.7rem;
  left: 0;
  position: fixed;
  color: white;
  background: #212020;
  opacity: 0.97;
  z-index: 1;
  list-style: none;
  font-size: 1.1rem;
}

.memu {
  padding: 0.7rem;
  padding-left: 1.8rem;
}
.memu:hover {
  background: #383838;
}
a {
  text-decoration-line: none;
}
a:visited {
  color: white;
}
.name {
  margin-left: 1.5rem;
  font-size: 0.9rem;
}
.line {
  width: 93%;
  height: 1px;
  background: #424242;
  margin: 1.2rem 0;
}
.sub {
  font-weight: bold;
  color: #aaaaaa;
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
}
