.grid {
  display: flex;
  flex-wrap: wrap;
  width: 83%;
  margin-left: 14rem;
  margin-top: 3.5rem;
  padding: 0.5rem;
  list-style: none;
}

.list {
  width: 77%;
  margin-top: 3.5rem;
  padding: 0.5rem;
  list-style: none;
}
