button {
  outline: none;
  border: 0;
  cursor: pointer;
}
.nav {
  background-color: #efebe9;
  padding: 0.9em;
  font-size: 2.7rem;
}
.nav-title {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.6em;
}
.nav-count {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  font-size: 2.2rem;
  width: 3rem;
  height: 3rem;
  line-height: 2.5rem;
  background-color: #a8a29f;
  color: white;
  border-radius: 40%;
}
.today {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  color: #524e4d;
}
.add {
  padding-top: 3rem;
}
.add-bar {
  font-size: 1.3rem;

  width: 20rem;
  height: 2.7rem;
  outline: 0;
}
.add-btn,
.habits-reset {
  font-size: 1.5rem;
  height: 3rem;
  font-weight: bold;
  color: white;
  background-color: #99908c;
}
.habits-reset {
  margin-left: 0.3rem;
  height: 4rem;
  width: 11rem;
  margin-top: 1.5rem;
  border-radius: 10px;
}
.all {
  width: 9rem;
}
.add-btn:hover,
.habits-reset:hover {
  opacity: 0.8;
}
.habit {
  font-size: 1.7rem;
  padding-top: 0.8em;
  list-style-type: none;
  font-weight: bold;
}

.habit-count {
  display: inline-block;
  text-align: center;
  font-size: 1.4rem;
  width: 4rem;
  height: 2.7rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  background-color: rgb(196, 196, 196);
  color: white;
  border-radius: 10px;
}

.habit-btn {
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}
.habit-btn:hover {
  opacity: 0.8;
}

.trash {
  color: rgb(97, 96, 96);
  font-size: 2.2rem;
}
